<option value="@Model.Color" style="background-color:@Model.Color">Czy zmienić kolor?</option>
<option value="lightskyblue" style="background-color:lightskyblue">Niebieski</option>
<option value="lightgreen" style="background-color:lightgreen">Zielony</option>
<option value="yellow" style="background-color:yellow">Żółty</option>
<option value="orange" style="background-color:orange">Pomarańczowy</option>
<option value="red" style="background-color:red">Czerwony</option>