@{

    DateTime endDate = new DateTime(2023, 10, 01);

    static int DaysToEndOfTrial(DateTime endDate)
    {
        var today = DateTime.Now;
        var daysLeft = (endDate - today).Days;
        return daysLeft;
    }
}


@if (endDate > DateTime.Now)
{
    <button onclick="endOfTrialInfo(); return false" class="btn btn-danger m-2">
        Pozostało @DaysToEndOfTrial(endDate) dni do końca wesrsji darmowej
    </button>
}
else
{
    <button onclick="endOfTrialAlert(); return false" class="btn btn-danger m-2">
        Wersja darmowa wygasła!
    </button>
}