<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CM HCP</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/triage.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/triage_hcp.styles.css" asp-append-version="true" />
</head>
<body class="bg-light bg-gradient">
    <header>
        <nav class="navbar fixed-top navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <div class="btn-secondary" style="border-radius: 3px; padding: 3px 10px 3px 10px; font-size: 14px">
                        CM HCP SOR
                    </div>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Pacjent" asp-action="List">
                                    <div class="btn-success" style="border-radius: 3px; padding: 3px 10px 3px 10px">
                                        LISTA PACJENTÓW 
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Triage" asp-action="Triage">
                                    <div class="btn-danger" style="border-radius: 3px; padding: 3px 10px 3px 10px">
                                        TRIAGE
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Pacjent" asp-action="CompletedList">
                                    <div class="btn-primary" style="border-radius: 3px; padding: 3px 10px 3px 10px">
                                        ARCHIWUM
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Pacjent" asp-action="Statistics">
                                    <div class="btn-info" style="border-radius: 3px; padding: 3px 10px 3px 10px; color:white">
                                        STATYSTYKI
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="LogOut">
                                    <div class="btn-secondary" style="border-radius: 3px; padding: 3px 10px 3px 10px">
                                        WYLOGUJ
                                    </div>
                                </a>
                            </li>
                        }
                        else
                        {
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">
                                <div class="btn-secondary" style="border-radius: 3px; padding: 3px 10px 3px 10px">
                                    ZALOGUJ
                                </div>
                            </a>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <div class="container border">
            <p>&copy; 2023 Created by Paweł Staniul. All rights reserved. Version: 4.2.0.</p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
