<option>Wypisany do domu</option>
<option>Interna</option>
<option>Urologia</option>
<option>Kardiologia A</option>
<option>Kardiologia B</option>
<option>Neurologia</option>
<option>OIOM</option>
<option>Chirurgia</option>
<option>Ortopedia</option>
<option>Psychiatria</option>
<option>Przekazany do innego szpitala</option>
<option>Neurochirurgia</option>
<option>Ginekologia</option>
<option>Chirurgia szczękowo-twarzowa</option>
<option>Oddalił się z SOR</option>
<option>Pacjent wypisał się na żądanie</option>
<option>Przekazano Policji</option>
<option>Zgon</option>