<option>@Model.Doctor</option>
<option>Avdieiev Anton</option>
<option>Betkowiak Zuzanna</option>
<option>Binaś Marcin</option>
<option>Chrzanowski Monica</option>
<option>Czekała-Karpiński Dawid</option>
<option>Dabryneuski Uladzimir</option>
<option>Domin Remigiusz</option>
<option>Elantkowski Łukasz</option>
<option>Fritzkiewicz Witold</option>
<option>Gąsiorowski Mateusz</option>
<option>Gilier Kamila</option>
<option>Grymuza Maciej</option>
<option>Guliński Marcin</option>
<option>Huzenko Jaroslaw</option>
<option>Junewicz</option>
<option>Kłaczyński Mateusz</option>
<option>Knasiecka Magdalena</option>
<option>Kochman Karol</option>
<option>Kohan Anastasiia</option>
<option>Kosharna Anna</option>
<option>Lesiak Karol</option>
<option>Łuczak Agnieszka</option>
<option>Makowska Agata</option>
<option>Malik Arkadiusz</option>
<option>Małkiewicz Tomasz</option>
<option>Miroshnichenko Yurii</option>
<option>Nowak Michał</option>
<option>Pankiewicz Mateusz</option>
<option>Paszkowiak-Ciesielska Hanna</option>
<option>Pisula Piotr</option>
<option>Polupanov Yevhen</option>
<option>Potyka Marek</option>
<option>Razumka Krystyna</option>
<option>Rojna Maciej</option>
<option>Sesiuk Aleksandra</option>
<option>Skrzypek Dariusz</option>
<option>Śliwowski Cezary</option>
<option>Śmidrowicz Bartosz</option>
<option>Wierzchowiecki Jerzy</option>
<option>Woźny Tomasz</option>
<option>Yakymchuk Yuri</option>
<option>Zanko Semen</option>
<option>Zhdanov Sergii</option>