@{
    ViewData["Title"] = "Nie znaleziono";
}

<h1 class="text-center">404 - Nie znaleziono</h1>
<p class="text-center">
    Przykro nam, ale strona, której szukasz, nie została znaleziona. Może została przeniesiona, usunięta, jej nazwa została zmieniona lub jest chwilowo niedostępna.
</p>
<p class="text-center">
    <a class="btn btn-primary" asp-action="Index" asp-controller="Home">Powrót do strony głównej</a>
</p>
