@model triage_hcp.Models.Login

@{
    ViewData["Title"] = "Login";
}

<div class="container border text-center shadow p-3 mb-5 bg-white rounded"
     style="max-width: 400px; padding: 30px; margin-top: 30px">

    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
    {
        @Html.ValidationSummary()

        <h5>Login: </h5>
        @Html.TextBoxFor(x => x.UserName)
        <br />
        <br />

        <h5>Hasło: </h5>
        @Html.PasswordFor(x => x.Password)
        <br />
        <br />

        <button type="submit" class="btn btn-primary">Zaloguj</button>
    }
</div>