<link rel="stylesheet" href="~/css/welcome.css" asp-append-version="true" />

@{
    ViewData["Title"] = "SOR";
}


<div class="container col-md-6 border shadow-lg rounded-3">
    <div class="row">
        <div class="col-4 logo">
            <img src="~/img/logo.png" />
        </div>

        <div class="col-7 welcome">
            <h1>CENTRUM MEDYCZNE HCP</h1>
            <br />
            <h3>Szpital im. św. Jana Pawła II</h3>
            <br />
            <p>Szpitalny Oddział Ratunkowy</p>
        </div>

    </div>
</div>
