@{
    ViewData["Title"] = "SOR";
}


<div class="container border text-center" style="max-width: 800px; padding: 20px;">
    <div class="row">
        <div class="col-4" style="justify-self:end; align-self:center">
            <img src="~/img/logo.png" />
        </div>
        <div class="col-7 welcome">
            <h1>CENTRUM MEDYCZNE HCP</h1>
            <h3>Szpital im. św. Jana Pawła II</h3>
            <br />
            <p>Zaloguj się, aby uzyskać dostęp do listy pacjentów.</p>
        </div>

    </div>
</div>
