@{
    ViewData["Title"] = "SOR";
}


<div class="index">
    <div class="welcome">
        <h1>CENTRUM MEDYCZNE HCP</h1>
        <h3>Szpital im. św. Jana Pawła II</h3>
        <br />
        <p>Zaloguj się, aby uzyskać dostęp do list pacjentów.</p>
    </div>
    <div class="logo">
        <img src="~/img/logo.png" />
    </div>
</div>
