@{
    ViewData["Title"] = "Polityka prywatności";
}
<h1>@ViewData["Title"]</h1>

<p>Administratorem danych osobowych jest Centrum Medyczne HCP Sp. z o. o.
<br />
   Adres:
   ul. 28 Czerwca 1956 r. nr 194
   61-485 Poznań
</p>
<br />
<p>Do korzystania z programu uprawnieni są wyłącznie pracownicy SOR CM HCP</p>
