@model triage_hcp.Models.Patient


<div class="container col-lg-6 pt-5">
    <h5>Wystąpił błąd w trakcie aktualizacji danych pacjenta:</h5>
    <h3>@Model?.Name?.ToUpper() @Model?.Surname?.ToUpper()</h3>
    <p>Skontaktuj się z administratorem systemu pod nr tel 500-147-053</p>
    <hr />
    <a asp-controller="ListsOfPatients" asp-action="MainList" class="btn btn-success">POWRÓT DO LISTY</a>
</div>
