html{
    font-size: 12px;
}

.btn-group{
    margin-left: 4rem;
    margin-top: 2rem;
}

.cart{
    padding: 1rem;
}

.container{
    margin-top: 100px;
}

.decision{
    margin-left: 2rem;
    padding-top: 2rem;
}

.parm{
    padding-left: 2rem;
}

.shadow-textarea textarea.form-control::placeholder {
    font-weight: 300;
}

.shadow-textarea textarea.form-control {
    padding-left: 0.8rem;
}

span.animation {
    animation-name: datetime;
    animation-duration: 1s;
    animation-iteration-count: infinite
}

.tooltip-btn {
    font-size: 10px;
}

@keyframes datetime {
    from {
        color: black;
    }

    to {
        color: red;
    }
}
