

div.pacjent {
    border-radius: 10px;
    border-inline-color: black;
    border-color: black;
    border: solid;
    max-width: 500px;
    margin: 10px;
    padding: 10px 10px 5px 15px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

div.pacjentBez {
    border-radius: 10px;
    border-inline-color: black;
    border-color: black;
    border: solid;
    max-width: 500px;
    margin: 10px;
    padding: 10px 10px 5px 15px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    animation-name: border;
    animation-duration: 1s;
    animation-iteration-count: infinite
}


div.nr_lozka {
    grid-column: 1/2;
    border: solid;
    border-radius: 10px;
    max-width: 35px;
    max-height: 30px;
    min-width: 30px;
    text-align: center;
    font-size: 11px;
    margin: 2px 5px;
}

div.pacjent_sala {
    grid-column: 2/2;
    border: solid;
    border-radius: 10px;
    max-width: 300px;
    max-height: 70%;
    padding: 2px;
    text-align: center;
    font-size: 11px;
    margin: 2px;
}

span.animation {
    animation-name: datetime;
    animation-duration: 1s;
    animation-iteration-count: infinite
}

@keyframes datetime {
    from {
        color: black;
    }

    to {
        color: red;
    }
}


@keyframes border {
    from {
        border-color: black;
    }

    to {
        border-color: red;
    }
}
