

html {
    position: relative;
    min-height: 100%;
    font-size: 12px;
}

body {
    margin-bottom: 60px;
}

div.container {
    display: grid;
    grid-template-columns: repeat(3);
}

div.lista_pacjentow {
    grid-column: 1/1;
}

div.pacjent {
    border-radius: 10px;
    border-inline-color: black;
    border: solid;
    max-width: 500px;
    margin: 10px;
    padding: 10px 10px 5px 15px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

div.lista_lozek {
    grid-column: 3/3;
    max-width: 350px;
}

div.witus,
div.wit,
div.obs1,
div.obs2,
div.izo,
div.dekontaminacja,
div.poczekalnia,
div.korytarz {
    display: grid;
    grid-template-columns: [first] 50px [sexond] 200px [third];
}

div.nr_lozka {
    grid-column: 1/2;
    border: solid;
    border-radius: 10px;
    max-width: 35px;
    max-height: 30px;
    text-align: center;
    margin: 2px 5px;
}

div.pacjent_sala {
    grid-column: 2/2;
    border: solid;
    border-radius: 10px;
    max-width: 250px;
    min-width: 150px;
    max-height: 30px;
    padding: 1px 0px 0px 0px;
    text-align: center;
    margin: 2px;
}
