html{
    font-size: 11px;
}

.addNewPatient{
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 1200px;
}

.tooltip-btn {
    font-size: 11px;
}

@media (max-width: 1050px) {
    .addNewPatient {
        margin-top: 90px;
    } 
}

@media (max-width: 900px) {
    .addNewPatient {
        margin-top: 100px;
    }
}