@model triage_hcp.Models.Patient

@{
    ViewData["Title"] = "Triage";
}
<div class="container">
    <div class="row border shadow bg-white rounded pt-5">
        <div class="col-lg-8">
            <div>
                <h2 class="text-center"><i class="bi bi-hospital"></i> TRIAGE</h2>
                @using (Html.BeginForm("AddNewPatient", "Triage", FormMethod.Post))
                {

                    <div class="row border p-4 m-3">
                        <div class="col-md-6">
                            <h5><i class="bi bi-person-check"></i> Imię: </h5>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                            <br />

                            <h5><i class="bi bi-person-check"></i> Nazwisko: </h5>
                            <input asp-for="Surname" class="form-control" />
                            <span asp-validation-for="Surname" class="text-danger"></span>
                            <br />

                            <h5><i class="bi bi-calendar"></i> PESEL: </h5>
                            <input asp-for="Pesel" class="form-control" />
                            <span asp-validation-for="Pesel" class="text-danger"></span>
                            <br />

                            <h5><i class="bi bi-house-heart"></i> Lokalizacja w SOR:</h5>
                            <select asp-for="LocationId" class="form-control" asp-items="@ViewBag.Locations">
                            </select>


                            <br />
                        </div>

                        <div class="col-md-6">
                            <h5><i class="bi bi-chat-dots"></i> Objawy: </h5>
                            <textarea asp-for="Symptoms" class="form-control" rows="5"></textarea>
                            <span asp-validation-for="Symptoms" class="text-danger"></span>
                            <br />

                            <h5><i class="bi bi-capsule-pill"></i> Alergie na leki: </h5>
                            <input asp-for="Allergies" class="form-control" />
                            <span asp-validation-for="Allergies" class="text-danger"></span>
                            <br />

                            <h5><i class="bi bi-person-circle"></i> Dla kogo pacjent:</h5>
                            <select class="form-control" id="ToWhomThePatient" name="ToWhomThePatient" required>
                                <option></option>
                                <option>INTERNISTA</option>
                                <option>CHIRURG</option>
                            </select>
                            <br />
                        </div>
                    </div>

                    <div class="border rounded p-4 m-3">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="row">
                                    <h5><i class="bi bi-heart-pulse"></i> Ciśnienie tętnicze:</h5>
                                    <div class="col-sm-4">
                                        <input asp-for="SBP" type="text" class="form-control" style="max-width: 70px" />
                                        <span asp-validation-for="SBP" class="text-danger"></span>
                                    </div>
                                    <div class="col-sm-1">
                                        <h3>/</h3>
                                    </div>
                                    <div class="col-sm-4">
                                        <input asp-for="DBP" type="text" class="form-control" style="max-width: 70px" />
                                        <span asp-validation-for="DBP" class="text-danger"></span>
                                    </div>
                                </div>
                                <br />

                                <h5><i class="bi bi-activity"></i> Puls:</h5>
                                <input asp-for="HeartRate" type="text" class="form-control" style="max-width: 100px" />
                                <span asp-validation-for="HeartRate" class="text-danger"></span>
                                <br />
                            </div>

                            <div class="col-md-4">
                                <h5><i class="bi bi-lungs"></i> Saturacja SpO<sub>2</sub></h5>
                                <input asp-for="Spo2" type="text" class="form-control" style="max-width: 100px" />
                                <span asp-validation-for="Spo2" class="text-danger"></span>
                                <br />

                                <h5><i class="bi bi-bell"></i> Skala GCS:</h5>
                                <input asp-for="GCS" type="text" class="form-control" style="max-width: 100px" />
                                <span asp-validation-for="GCS" class="text-danger"></span>
                                <br />
                            </div>

                            <div class="col-md-4">
                                <h5><i class="bi bi-thermometer"></i> Temperatura:</h5>
                                <input asp-for="BodyTemperature" type="text" class="form-control" style="max-width: 100px" required />
                                <span asp-validation-for="BodyTemperature" class="text-danger"></span>
                                <br />
                            </div>
                        </div>
                    </div>


                    <div class="d-flex justify-content-center flex-wrap">
                        <button type="submit" class="btn btn-danger btn-lg mx-2" id="Color" name="Color" value="red">CZERWONY</button>
                        <button type="submit" class="btn btn-warning btn-lg mx-2" id="Color" name="Color" value="orange">POMARAŃCZOWY</button>
                        <button type="submit" class="btn btn-warning btn-lg mx-2" style="background-color: yellow" id="Color" name="Color" value="yellow">ŻÓŁTY</button>
                        <button type="submit" class="btn btn-success btn-lg mx-2" id="Color" name="Color" value="lightgreen">ZIELONY</button>
                        <button type="submit" class="btn btn-primary btn-lg mx-2" id="Color" name="Color" value="lightskyblue">NIEBIESKI</button>
                    </div>
                }
            </div>
        </div>

        <div class="col-lg-4">
            <div class="list-group p-3 m-3">
                @foreach (var location in ViewBag.AvailableLocations)
                {
                    <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                        <span>
                            <i class="fas fa-bed mr-2"></i>
                            @location.LocationName
                        </span>
                        @if (location.IsAvailable)
                        {
                            <span class="badge bg-success">
                                <i class="fas fa-check mr-1"></i>
                                Dostępne
                            </span>
                        }
                        else
                        {
                            <span class="badge bg-danger">
                                <i class="fas fa-times mr-1"></i>
                                Niedostępne
                            </span>
                        }
                    </a>
                }
            </div>
        </div>



    </div>

</div>