@model triage_hcp.Models.Pacjent

@{
    ViewData["Title"] = "Triage";
}

<h1>Wykonaj TRIAGE</h1>
<br />
<input name="Name" /> Imię <br />
<br />
<input name="Surname" /> Nazwisko <br />
<br />
<input name="Age" /> Wiek <br />
<br />
<input type="radio" name="Gender" value="K" />Kobieta <br />
<br />
<input type="radio" name="Gender" value="M" />Mężczyzna
